<form method="POST">
  <h3>{{content_title}}</h3>
  <div class="hyphenate">
    {{{content}}}
  </div>
  <p>Подтвердите удаление: <input type="checkbox" name="confirmation" value="yes"> </p>
  <p><input type="submit"></p>
</form>
