{{#show_create}}
  {{{link_new}}}
{{/show_create}}
<div class="hyphenate">
  {{{content}}}
</div>
<div class="table_index">
{{#get_items}}
  <div class="table_row">
    {{#date}}
      <div class="date">{{date}}</div>
    {{/date}}
    {{{view_link}}}
    {{{edit_link}}}
    {{{delete_link}}}
  </div>
{{/get_items}}
</div>
<div class="paging">
  {{{get_paging}}}
</div>
