{{#show_create}}
  {{{link_new}}}
{{/show_create}}
<div class="hyphenate">
  {{{content}}}
</div>
<table class="table table-hover">
  <tbody>
{{#get_items}}
    <tr>
      <td class="hyphenate">
        <a class="link_view" href="{{{view_link}}}">{{{name}}}</a>
      </td>
      {{#date}}
        <td class="date">{{date}}</td>
      {{/date}}
      {{#edit_link}}
      <td><a class="btn" href="{{edit_link}}"><i class="fa fa-pencil-square-o"></i></a></td>
      <td><a class="btn" href="{{delete_link}}"><i class="fa fa-times"></i></a></td>
      {{/edit_link}}
  </tr>
{{/get_items}}
  </tbody>
</table>
