{{#show_create}}
  {{{link_new}}}
{{/show_create}}
<div class="hyphenate">
  {{{content}}}
</div>
<div class="paging">
  {{{get_paging}}}
</div>
<div class="table_index">
{{#get_items}}
  <div class="table_row">
    {{#date}}
      <div class="date">{{date}}</div>
    {{/date}}
    <div class="hyphenate"><a class="link_view" href="{{{view_link}}}">{{name}}</a></div>
    {{#edit_link}}
      <div><a class="link_edit" href="{{{edit_link}}}">Редактировать</a></div>
      <div><a class="link_delete" href="{{{delete_link}}}">Удалить</a></div>
    {{/edit_link}}
  </div>
{{/get_items}}
</div>
<div class="paging">
  {{{get_paging}}}
</div>
