<!doctype html>
<html lang="ru">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href='{{favicon}}' rel='shortcut icon' type='image/x-icon'/>
    {{#feeds}}
    <link href="{{{url}}}" rel="alternate" type="application/rss+xml" title="{{title}}">
    {{/feeds}}
    <!--[if lt IE 9]>
{{{ie_scripts}}}
    <![endif]-->
    {{{stylesheet}}}
   </head>
  <body>
   {{#navigation}}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-volume-off">&nbsp;</span>
        </button>
        <a class="navbar-brand" href="/">{{site_title}}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{#dropdown}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{name}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {{#links}}
                  <li>{{{.}}}</li>
                {{/links}}
              </ul>
            </li>
            {{/dropdown}}
            {{#links}}
            <li>{{{.}}}</li>
            {{/links}}
          </ul>
          <form action="{{search_url}}" class="navbar-form navbar-right" role="search" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Поиск" name="term">
            </div>
          </form>
        </div>
      </div>
    </nav>
    {{/navigation}}
    
    <div class="container">
      <div class="paging">
        {{{get_paging}}}
      </div>
      <div class = "main_content">
        <h2>{{title}}</h2>
        {{#flashes}}
          {{#info}}
            <div class="alert alert-info">{{{.}}}</div>
          {{/info}}
          {{#error}}
            <div class="alert alert-danger">{{{.}}}</div>
          {{/error}}
          {{#warning}}
            <div class="alert alert-warning">{{{.}}}</div>
          {{/warning}}
          {{#success}}
            <div class="alert alert-success">{{{.}}}</div>
          {{/success}}
        {{/flashes}}
{{>content}}
      </div>
      <div class="paging">
        {{{get_paging}}}
      </div>
      <footer><div class="small">Сайт сделан на фреймворке Kohana. <a href="https://github.com/oreolek/oreolek.ru">Исходный код</a> движка доступен по лицензии <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>.</div></footer>
    </div>
{{{scripts}}}
  </body>
</html>
