<!doctype html>
<html lang="ru">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link href='{{favicon}}' rel='shortcut icon' type='image/x-icon'/>
    {{{stylesheet}}}
   </head>
  <body>
    <div class = "container">
      <div class = "header text_center">
        <h1>{{site_title}}</h1>
      </div>
      <div class = "navigation">
        <ul>
         {{#navigation}}
         <li><a href="{{url}}">{{title}}</a></li> 
         {{/navigation}}
        </ul>
      </div>
      <div class = "main_content">
        <h2>{{title}}</h2>
{{>content}}
      </div>
      <div class="footer">Сайт сделан на фреймворке Kohana. <a href="https://github.com/oreolek/oreolek.ru">Исходный код</a> движка доступен по лицензии <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>.</div>
    </div>
    {{{scripts}}}
  </body>
</html>
