<form method="POST">
{{#has_errors}}
  <p class="message">При проверке формы были найдены ошибки:</p>
  <ul class="errors">
    {{#get_errors}}
    <li>{{.}}</li>
    {{/get_errors}}
  </ul>
{{/has_errors}}
<div class="row">
  <div class="col-md-9">
    {{{input_name}}}
  </div>
  <div class="col-md-3">
    {{{input_is_draft}}}
  </div>
</div>
{{{input_content}}}
<div class="row">
  <div class="col-md-9">
    {{{input_tags}}}
  </div>
  <div class="col-md-3">
    {{{input_posted_at}}}
  </div>
</div>
{{{input_buttons}}}
</form>
<h2>Предпросмотр</h2>
{{#preview}}
<hr>
<div class="hyphenate" id="preview">
  {{{preview}}}
</div>
<hr>
{{/preview}}
{{^preview}}
<div class="hyphenate" id="preview"></div>
{{/preview}}
