<div class="date">{{date}}</div>
<div class='row'>
  <div class="text_center">
    <p>{{message}}</p>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <form method="POST">
      {{{get_controls}}}
    </form>
  </div>
</div>
