{{#get_comments}}
<div class="comment row" typeof="comment">
  <a name="comment_{{id}}"></a>
  <div class="author" typeof="creator">
    {{#author_email}}<a href="mailto:{{author_email}}">{{/author_email}}
    <span property="name">{{author_name}}</span>
    {{#author_email}}
      </a><meta property="email" content="{{author_email}}" />
    {{/author_email}}
  </div>
  <div class="content" property="commentText">{{{content}}}</div>
</div>
{{/get_comments}}
