@background1: #fff;
@background2: #ddd;
@background3: #bbb;
@background4: #999;

@foreground1: #000;
@foreground2: #222;
@foreground3: #444;
@foreground4: #666;

@font-family-sans-serif: "Open Sans", Arial, sans-serif;
@link-color: @foreground2;

.red {
  color: darkred;
}

.green {
  color: darkgreen;
}

.blue {
  color: darkblue;
}

body {
  color: @foreground1;
  background: url('../../assets/images/mooning.png') @background1;
}

.navigation {
  background: @background2;
}

a {
  &:hover {
    color: @foreground4;
  }
  &:visited {
    color: @foreground3;
  }
}

.comment {
  &:nth-child(odd) {
    background: @background2;
  }
}

.paging {
  a.active {
    color: @foreground4;
  }
}

input[type='text'],
input[type='password'],
textarea,
.form-control {
  background: @background2;
}

.sidequote() {
  color: @foreground4;
}

.footer {
  color: @foreground2;
}

acronym, abbr {
  border-bottom: 1px dashed @foreground4;
  color: @foreground4;
}

blockquote {
  border-left: 1px dashed @background4;
  background: @background3;
}
