@color-nav-bg:       #A69CA3;
@color-bg:           #FFF4DF;
@color-text:         #5E6E85;
@color-link-text:    #7B6265;
@color-nav-text:     @color-bg;
@color-well-bg:      #84929F;
@color-jumbotron-bg: #7B6265;

@font-family-sans-serif: "PT Sans", "Open Sans", Arial, sans-serif;
@font-family-serif:      "PT Serif", Georgia, "Times New Roman", Times, serif;
@font-family-caption:    "PT Serif Caption", @font-family-serif;
@font-family-monospace:  "PT Mono", "Courier New", monospace;
@headings-font-family:   "PT Sans Caption", @font-family-sans-serif;
@font-family-base:       @font-family-serif;

.red {
  color: darkred;
}

.green {
  color: darkgreen;
}

.blue {
  color: darkblue;
}

.comment {
  &:nth-child(odd) {
    background: fade(lighten(@body-bg, 2%), 50%);
  }
}

footer {
  color: darken(@text-color, 15%);
}

acronym, abbr {
  border-bottom: 1px dashed @gray;
  color: darken(@text-color, 15%);
}

blockquote {
  border-left: 1px dashed @gray;
}

a.disabled {
  color: lighten(@color-link-text, 30%);
}

a {
  cursor: pointer;
}

body {
  background-color: @color-bg;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.25) 50%);
  background-size: 13px, 29px, 37px, 53px;
}
.main_content {
  background-color: fade(@color-bg, 50%);
}
@text-color:                  @color-text;
@brand-primary:               @color-link-text;
@dropdown-link-color:         @color-nav-text;
@navbar-default-color:        @color-nav-text;
@navbar-default-link-color:   @color-nav-text;
@navbar-default-bg:           @color-nav-bg;
@panel-bg:                    @color-bg;
@panel-footer-bg:             @color-well-bg;
@panel-default-text:          @color-text;
@panel-default-heading-bg:    @color-well-bg;
@btn-default-bg: darken(@color-bg, 5%);
@well-bg:                     @color-well-bg;
@hr-border:                   @color-jumbotron-bg;
@jumbotron-bg:                @color-jumbotron-bg;

@navbar-default-link-hover-color:          lighten(@navbar-default-color, 20%);
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         @navbar-default-link-color;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       desaturate(@navbar-default-color, 50%);
@navbar-default-link-disabled-bg:          transparent;

@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

@breadcrumb-bg:               fade(darken(@color-bg, 5%), 50%);
@breadcrumb-color:            @color-text;
