@font-size-base: 16px;

.container-fluid {
  @media (min-width: @screen-tablet) and (max-width: @screen-desktop) {
    margin: 0 1%;
    min-width: @screen-tablet;
  }
  @media (min-width: @screen-desktop) and (max-width: @screen-lg-desktop) {
    margin: 0 3%;
    min-width: @screen-desktop;
  }
  @media (min-width: @screen-lg-desktop) {
    margin: 0 5%;
    min-width: @screen-lg-desktop;
  }
}

input[type=checkbox] {
  cursor: pointer;

  &:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
  }
  width: @line-height-computed;
}

input[type=button],
input[type=submit] {
  .btn;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
}

input[type=submit] {
  .make-sm-column(4);
  .make-sm-column-offset(4);
}

blockquote {
  padding-left: (0.5 * @font-size-base);
  clear: left;
}

input[type='text'],
input[type='password'],
textarea {
  margin-bottom: @font-size-base;
  border: 0px;
  height: auto;
}

#new_comment {
  margin-top: @font-size-base;
  label {
    .make-lg-column(2);
    .make-sm-column(3);
  }
  input[type='text'],
  input[type='password'],
  textarea {
    .make-lg-column(10);
    .make-sm-column(9);
  }
}

.vertical {
  li {
    list-style-type: none;
    padding-right: @font-size-base;
    margin-bottom: (@font-size-base * 0.5);
  }
}

.horizontal {
  .vertical();
  li {
    display: inline;
  }
}

span.hidden-xs {
  display: inline-block !important;
}

img {
  @margin: (0.5 * @font-size-base);
  &:extend(.img-responsive);
  margin-bottom: @margin;
  margin-top: @margin;
  &.left {
    float: left;
    margin-left: 0;
    margin-right: @margin;
  }
  &.right {
    float: right;
    margin-left: @margin;
    margin-right: 0;
  }
  &.center {
    display: block;
    .center-block;
  }
  &.gallery {
    margin-right: @margin;
  }
}

.hidden {
  display: none;
}

.comment {
  &:extend(.make-row);
  .author {
    font-weight: 700;
    .make-lg-column(4);
  }
  .content {
    .make-lg-column(8);
  }
}

.f_right {
  float: right !important;
}

.f_left {
  float: left;
}

.rss {
  &:extend(.f_right);
}

.yashare-auto-init { // Yandex sharing buttons
  margin-bottom: @font-size-base;
}

code {
  white-space: normal;
}

.side {
  .make-lg-column(4);
  .make-sm-column(4);
}

footer {
  &:extend(.make-row);
  margin-top: @font-size-base;
  div {
    .make-xs-column(12);
    .text_center;
  }
}

.sidequote_left, 
.sidequote_right {
  .make-sm-column(4);
  .make-lg-column(4);
  font-size: @font-size-base * 1.5;
  margin-top: @font-size-base / 2;
  margin-bottom: @font-size-base / 2;
}

.sidequote_left {
  padding-left: 0;
  padding-right: @grid-gutter-width * 2;
}

.sidequote_right {
  &:extend(.f_right);
}

.sideblock() {
  @media(min-width: @screen-lg-desktop) {
    .make-lg-column(4);
  }
  @media(min-width: @screen-tablet) {
    .make-sm-column(4);
  }
  margin-top: -@font-size-base / 2;
  margin-bottom: -@font-size-base / 2;
}

.sideblock_left {
  &:extend(.sideblock);
  padding-left: 0;
  padding-right: @grid-gutter-width * 2;
}

.sideblock_right {
  &:extend(.sideblock);
  &:extend(.f_right);
  padding-left: @grid-gutter-width * 2;
  padding-right: 0;
}

.tag_content,
.tag_posts {
  .make-lg-column(6);
  .make-sm-column(6);
}

.post,
.comment_section {
  &:extend(.clearfix);
}

.main_content {
  .make-sm-column(12);
  p {
    text-align: justify;
  }
}

.text_center, .text-center {
  text-align: center !important;
  p {
    text-align: center !important;
  }
}

.paging { // pagination
  &:extend(.make-row);
  .text_center;
  a {
    @media screen and (max-width: 767px) {
      .make-xs-column(1);
    }
    margin-left: @font-size-base;
    &.active {
      font-weight: 700;
      @media screen and (min-width: 768px) {
        font-size: @font-size-base * 1.25;
      }
    }
  }
}

.table_index { // table in every index view
  &:extend(.table);
  .clearfix();
  .table_row {
    .clearfix();
    display: table-row;
    & > div {
      display: table-cell;
      padding: @font-size-base / 4;
    }
  }
}

/* WP legacy */
.alignleft {
	float: left;
  margin-right: 2 * @font-size-base;
}

.alignright {
	float: right;
  margin-left: 2 * @font-size-base;
}

.long-song-lyrics{
  .make-lg-column(4);
  .make-sm-column(6);
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.epigraph {
 margin-left: auto;
 text-align: left;
 width: 40%;
 .author {
   text-align: right;
   font-style: italic;
 }
}

.repl {
  margin-left: 25%;
  font-family: @font-family-caption;
}

.stagedir {
  font-style: italic;
  font-family: @font-family-caption;
}

div.stagedir,
p.stagedir {
  margin-top: @padding-large-vertical;
  margin-bottom: @padding-large-vertical;
}

@media print {
  footer,
  .rss,
  .paging,
  #kohana-debug-toolbar {
    display: none;
  }
}
