@import 'normalize';
@import 'colors';
@import 'layout';
@columns: 6;
@gutter: 2%;

body {
  font: "PT Sans", "Arial", sans-serif;
}

input[type=checkbox] {
  cursor: pointer;

  &:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
  }
}
