<form method="POST" enctype='multipart/form-data'>
{{#has_errors}}
  <p class="message">При проверке формы были найдены ошибки:</p>
  <ul class="errors">
    {{#get_errors}}
    <li>{{.}}</li>
    {{/get_errors}}
  </ul>
{{/has_errors}}
<p>{{image}}</p>
{{{get_controls}}}
</form>
